.tableBorder {
    border: 1px solid black;
}

.navBarPosition {
    position: absolute;
}

.addLink {
    text-align: center;
}

.containerRsa {
    display: flex;
    align-items: center;
    justify-content: center;

}

.rsaInputValue {
    width: 500px;
}

.typeListTable {
    position: absolute;
    left: 20%;
    margin-left: 0;
    margin-right: 10%;
}

.bookListTable {
    position: absolute;
    right: 30%;
    margin-right: 0;
    margin-left: 10%;
}